@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* navbar */
.navbar {
    z-index: 3;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
}


/* home */
#home {
    background: url("images/sharpening.png") bottom center / cover no-repeat;
    min-height: 100vh;
    position: relative; 
    opacity: 50%;
    filter: grayscale(50%);
}


/* shop */
.card {
    background-color: rgba(211, 211, 211, 0.473);
    border-radius: 1rem;
    transition: 0.3s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
}

.card img {
    width: auto;
    height: auto;
}


/* buttons */
.btn-outline-primary {
    color: grey;
    border: none;
}

.btn-outline-primary:hover {
    background-color: grey;
    transform: translate(-0.5rem);
    transition: .3s;
}

.bxs-right-arrow:hover {
    transform: translateX(.7rem);
    transition: .3s;
}

/* heading text */
.h-text {
    color: grey;
}
